extends layout

block content
  h1.centered= title
  table.bingo-card
    tbody
      each square, index in squares
        if index % 5 === 0
          tr
        td.bingo-square= square
  div.left-footer #[a(href="/square-options") What are the possible squares?]
