doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div.footer Inspired by #[a(href="http://knowledgefight.com") Knowledge Fight], dedicated to my wife
